
footer{
    text-align:center;
}

.boldli{
    font-weight: bold;
    padding-top: 3px;
}

.freelancer-logo{
    padding-top: 20px;
    margin-top: 3px;
    margin-left: 330px;
    text-align: center;
}

#btn1 {
    margin-left: 400px;
    width: 300px;
}

.loginbtn1 {
    margin-top: 10px;
}

.loginbtn2 {
    margin-bottom: 10px;
}

.nav {
    float: right;
}

.text2 {
    text-align: right;
    margin-left: 20px;
    margin-top: 25%;
}

#Canvas {
    text-align: center;
}

footer {
    margin-top: 20px;
}

#lorem {
    margin-top: 20px;
    text-align: center;
}

#loremipsum {
    margin-left: 40px;
}

#logintxt {
    margin-left: 410px;
    text-align: center;
    width: 300px;
}

#About {
    text-align: center;
}
li{

    list-style:none;
}
#sök1{
    margin-left:10px;

}
#sök2{
    margin-left: 10px;
}
.login {
    margin-right: 50px;
    text-align: center;
}

#image {
    height:auto;
    display:block;
}



.ui-id-1{
    color:aqua
}