@model FreelancerProject.ViewModels.CV
@{
    ViewBag.Title = "Details";
}

<h2>View</h2>

<h4>FreelancerPerson</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Educations)
    </dt>
    <dt>
        @Html.DisplayNameFor(model => model.OtherInfo.DriversLicence)
    </dt>
    <dt>
        @Html.DisplayNameFor(model => model.Freelancer.Firstname)
    </dt>
    <dt>
    </dt>
</dl>


