<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Ett fel har inträffat</h1>
        <h2>Tyvärr kunde vi inte genomföra begärd åtgärd, var vänlig försök igen. </h2>
    </hgroup>
</body>
</html>
