@model FreelancerProject.Models.FreelancerPerson
@{
    ViewBag.Title = "ProfileFreelancer";
}

<h2>ProfileFreelancer</h2>

@*<p> @Model.Firstname , Model.Lastname</p>*@

<dt>
    @Html.DisplayNameFor(model => model.Firstname)
</dt>

<dd>
    @Html.DisplayFor(model => model.Firstname)
</dd>

