@{
    ViewBag.Title = "Om oss";
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</div>
<div class="row">
    <div class="col-sm-5">
        <img id="image" class="img-thumbnail" src="https://cdn.pixabay.com/photo/2018/02/14/10/28/business-3152586_960_720.jpg" />
    </div>

    <div class="col-sm-7">
        <h4>Kund</h4>
        <p>Du som kund hos oss har möjlighet att söka på tusentals CV i vår frilansdatabas. Vi hjälper dig att hitta den hjälpen du behöver - när du behöver den! </p>

        <p>Vi får ständigt in nya CV:n från frilansare som är redo att hjälpa dig med sin expertis. Du kontaktar själv personen och kan ha en person redo att göra 
        jobbet redan i dag!</p>
    </div>
</div>
<br />
<hr />
<br />

<div class="row">
    <div class="col-sm-7">
        <h4>Frilansare</h4>
        <p>Är du frilansare? Letar du efter jobb? Se då till att ladda upp ditt CV här hos oss så snart som möjligt! </p>
        <p>Vi får regelbundet in förfrågningar från olika företag som behöver hjälp. Genom att lägga upp ditt CV hos oss kan du bli kontaktad och få jobberbjudanden redan i dag</p>
        <p></p>        
    </div>

    <div class="col-sm-5">
        <img id="image" class="img-thumbnail" src="https://cdn.pixabay.com/photo/2017/10/10/21/47/laptop-2838921_960_720.jpg" />
    </div>
</div>