@{
    ViewBag.Title = "Home Page";
}

<img class="freelancer-logo" src="~/Content/bilder/freelancer-logo.png">

<div>
    <input id="logintxt" type="text" disabled="disabled" />
    <br />
    <br />
    <input id="logintxt" type="text" disabled="disabled" />
</div>
<br />
<br />
<div class="loginbtn1">
    @Html.ActionLink("Login as freelancer", "Index", "Profilefreelancer", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", id = "btn1", @role = "button" })

</div><br>
<div class="loginbtn2">
    @Html.ActionLink("Login as client", "Index", "FreelancerPersons", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", id = "btn1", @role = "button" })
</div>
<br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br />
